:root {
    font-size: clamp(100%, 90% + 0.5vi, 150%);
    color-scheme: dark light;
}

* {
    margin: 0;
}

html {
    line-height: 1.5;
    text-wrap: pretty;
}

body {
    font-family: system-ui;
}

header {

}

h1 {
    font-size: clamp(1.75rem, 1.3152rem + 2.1739vw, 3rem);
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__link {
    color: light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 90%));
    text-decoration: none;
    text-transform: uppercase;
}

.burger {
    width: 50%;
    position: relative;
  }
  
  .burger,
  .burger::before,
  .burger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: var(--clr-neutral-100);
  }
  
  .burger::before,
  .burger::after {
    content: '';
    width: 100%;
  }
  
  .burger::before {
    transform: translateY(-6px);
  }
  
  .burger::after {
    transform: translateY(3px);
  }