:root {
    font-size: clamp(100%, 90% + 0.5vi, 150%);
    color-scheme: dark light;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    line-height: 1.5;
    text-wrap: pretty;
}

body {
    font-family: system-ui;
}

.header {
    background: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 15%));
    position: sticky;
    top: 0;
    overflow-y: hidden;
    min-height: auto;
    transition: min-height 200ms;
}

.header-open {
    min-height: 100svh;
}

.header, main {
    padding: 1rem;
}

h1 {
    font-size: clamp(1.75rem, 1.3152rem + 2.1739vw, 3rem);
}

ul:where(.nav__list),
li:where(.nav__item) {
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__link {
    color: light-dark(hsl(0, 0%, 10%), hsl(0, 0%, 90%));
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus-visible {
    text-decoration: underline;
    color: limegreen    ;
}

.nav__toggle {
    cursor: pointer;
    width: 3em;
    height: 3em;
    padding: 0;
    color: hsl(0, 0%, 90%);
    outline: 2px solid hsl(0, 0%, 10%);
}

.nav__toggle:hover,
.nav__toggle:focus-visible {
  background: none;
  color: limegreen;
  outline: 2px solid limegreen;
}

.burger {
    width: 50%;
  }
  
.burger,
.burger::before,
.burger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: hsl(0, 0%, 90%);
}
  
.burger::before,
.burger::after {
    content: '';
    width: 100%;
}
  
.burger::before {
    transform: translateY(-6px);
}
  
.burger::after {
    transform: translateY(3px);
}